---
name: pre-commit

on:
  pull_request:
    branches: ["**"]
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - uses: asdf-vm/actions/install@v4

      - run: |
          echo "::add-matcher::actionlint/actionlint-matcher.json"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --verbose
