---
name: Test Common Tooling

on:
  pull_request:
    paths:
    - 'common-tooling/action.yml'

jobs:
  test-common-tooling:
    strategy:
      fail-fast: false
      matrix:
        label: ["ubuntu-latest", "gcp-core-2-default", "aws-arm-core-2-default"]
    runs-on: ${{ matrix.label }}
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    - name: Install if required common software tooling
      uses: ./common-tooling
    - name: Check that installed software is available
      run: |
        if ! command -v node &> /dev/null
        then
            echo "node could not be found"
            exit 1
        else
            node --version
        fi
        if ! command -v yarn &> /dev/null
        then
            echo "yarn could not be found"
            exit 1
        else
            yarn --version
        fi
        docker_buildx_count=$(docker buildx 2>&1 | grep -c "docker buildx")
        if [[ $docker_buildx_count -eq 0 ]]
        then
            echo "docker buildx could not be found"
            exit 1
        else
            docker buildx version
        fi
        if ! command -v java &> /dev/null
        then
            echo "java could not be found"
            exit 1
        else
            java --version
        fi
        if ! command -v mvn &> /dev/null
        then
            echo "mvn could not be found"
            exit 1
        else
            mvn --version
        fi
        if ! command -v python3 &> /dev/null
        then
            echo "python3 could not be found"
            exit 1
        else
            python3 --version
        fi
        if ! command -v python &> /dev/null
        then
            echo "python could not be found"
            exit 1
        else
            python --version
        fi
    - name: Install nothing, just for testing
      uses: ./common-tooling
      with:
        node-enabled: "false"
        yarn-enabled: "false"
        python-enabled: "false"
        java-enabled: "false"
        qemu-enabled: "false"
        buildx-enabled: "false"
    - name: Install and overwrite common software tooling
      uses: ./common-tooling
      with:
        overwrite: "true"
    - name: Install and overwrite common software tooling
      uses: ./common-tooling
      with:
        node-version: 20 # see https://github.com/actions/setup-node#supported-version-syntax for supported syntax
        java-version: 20 # see https://github.com/marketplace/actions/setup-java-jdk#supported-version-syntax for supported syntax
        java-distribution: adopt # see https://github.com/marketplace/actions/setup-java-jdk#supported-distributions for supported distros
        python-version: "3.11" # see https://github.com/actions/setup-python#supported-version-syntax for supported syntax
        overwrite: 'true'
